@import '_reset';
@mixin Flex ($direction, $align, $justify) {
    display: flex;
    flex-flow: $direction;
    align-items: $align;
    justify-content: $justify;    
}
@mixin headings($fontSize) {
    font-weight: 600;
    color: $DarkGrayishBlue;
    font-size: $fontSize;
}
$fontFamily : 'Bai Jamjuree', sans-serif;
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

body {
    font-family: $fontFamily;
    text-align: center;
}

h1{
    @include headings(2.3em);
    margin: 5% auto;
}

h2{
    @include headings(2em);
    margin: 0 4%;
}

h3{
    @include headings(1rem);
}

p{
    text-align: center;
    color: $GrayishBlue;
    max-width: 580px;
    line-height: 1.8; 
    font-weight: 400;
    margin: 5% 12%;
}

a{
    text-decoration: none;
}

header{
    @include Flex(column, center, center);
}   

.HeaderContainer{
    background: url('images/bg-header-mobile.png');  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;    
}

.HeaderContainer img{
    margin-top: 60px;
    margin-bottom: 25px;
}

.btn {
    @include Flex(column, center, center);   
    .button{
        cursor: pointer;
        font-family: $fontFamily;
        font-size: 1rem;
        color: white;
        text-decoration: none;
        padding: 1em 3.5em;
        border: none;
        border-radius: 30px;
        text-shadow: 3px 4px 3px rgba(150, 150, 150, 1);
    }
    .btn-iOS{
        margin: 10px;
        background: $StrongCyan;     
        &:hover {
            box-shadow: 0 0 10px 0 $StrongCyan inset, 0 0 10px 4px $StrongCyan;
        }
    }
    .btn-Mac{
        margin: 10px;
        background: $LightBlue;
        &:hover {
            box-shadow: 0 0 10px 0 $LightBlue inset, 0 0 10px 4px $LightBlue;
        }
    }
}

.MainContainerOne {
    @include Flex(column, center, center);
    padding-top: 20%; 
}

.MainContainerTwo {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10%;
    .LeftGrid {
        margin: 10px;
        .CompImg {
            width: 90%;
        }
    }
    .RightGrid {
        margin-top: 10%;
        text-align: center;
        p {
            margin-bottom: 12%;      
        }
    }    
}

.MainContainerThree {
    margin-top: 12%;
    img{
        margin: 10% 0;
        width: 100%;
    }
}

.MainContainerFour {
    display: block;
    margin-top: 12%;
    p {
        margin-bottom: 12%;
    }
}

.MainContainerFive {
    @include Flex(column, center, space-around);
    margin: 0;
    height: 70vh;
    img{
        max-width: 100%;
    }
}

.MainContainerSix {
    padding: 12% 5%;
    
}

.FooterContainer {
    margin-top: 5%;
    padding: 0 8%;
    @include Flex(column, center, space-between);
    background: #f5f6f8;
    text-align: center;
    .Logo{
        height: 70px;
        width: 70px;
        margin: 30px auto;
    }
    ul{
        column-count: 1;
        text-align: center;
        margin: 0;
        padding: 0;
        list-style-type: none;        
        li {
            font-size: 1.5em;
            position:relative;
            margin: 1.8rem auto;
            color: $DarkGrayishBlue;            
            &:hover {
                color: $StrongCyan;
                cursor: pointer;
            }
        }
    }
    .socialIcons{
        margin-top: 5%;
        a img{
            margin: 0 20px 20px 0;
            filter: drop-shadow(8px 8px 10px gray);
        }   
    }  
}

@media screen and (min-width: 760px){   
    h1{
        margin: 2% auto;
    } 
    p{
        font-size: 1em;
        margin: 1.8% auto ;
    }
    .HeaderContainer {
        background: url('images/bg-header-desktop.png');
    }
    
    .btn {
        @include Flex(row, center, center);
    }

    .MainContainerOne {
        padding: 3%;
    }

    .MainContainerTwo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 6%;
        .LeftGrid {
            margin: 10px 0 10px;
            .CompImg{
                width: 100%;
            }
        }
        .RightGrid {
            padding: 2em 1em 0em 6em;
            text-align: left;
            margin-top: 0;
            p{
                font-size: 0.8em;
                margin: 1em 1em 2em 0;
                text-align: left;
                width: 50%;
            }
        }
    }

    .MainContainerThree {
        margin-top: 4%;
        img {
            margin-top: 5%;
            margin-bottom: 2%;
            width: 60%;
        }
    }

    .MainContainerFour {
        margin: 5% auto 0;
        padding: 0 10%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        p{
            font-size: 0.8em;
            width: 80%;
        }
    }

    .MainContainerFive {
        margin: 0 10%;;
        @include Flex(row, center, space-between);
        height: 40vh;
    }

    .MainContainerSix{
        margin: 0 auto;
        padding: 0;        
    }

    .FooterContainer {
        margin-top: 8%;
        @include Flex(row, center, space-around);
        max-width: 100%;
        margin: 8% auto 0;
        .Logo{
            height: 70px;
            width: 70px;
            margin: 30px;
        }
        ul{
            column-count: 3;
            text-align: left;
            width: 50%;
            li{
                margin: 0 0% 10%;
                font-size: 1em;
            }
        }
        .socialIcons{
            margin: 0;
            a img{
                margin: 0 10px 0 0;
                filter: drop-shadow(8px 8px 10px gray);
            }          
        }          
    }
}
